{%extends 'base.html'%}
{%load socialaccount%}
{%providers_media_js%}

{%block content%}

{%if error%}
{{error}}
<br>
<br>
{%endif%}

<div class="container">

    <h1>Login</h1>
    <br>

    <form action="{%url 'login'%}" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <table>
                {{form.as_table}}
            </table>
        </div>
        <input type="submit" name="" value="Login" class="btn btn-lg btn-outline-primary col-3 offset">
    </form>
    <br>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{%url 'signup'%}">Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>
    <a class="dropdown-item" href="{%provider_login_url 'google'%}">구글 로그인</a>
</div>
{%endblock%}