<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">    
    <title>Word Count!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body style="padding-left: 20px">
    <h1>About</h1>

    <p>멋쟁이 사자처럼 7기 운영진이 만들었습니다.</p>
    <p>단어를 세어줍니다!</p>

    <h1><a href="https://github.com/CaesiumY/python-django_with_Likelion/tree/master/firstproject">github 페이지로 가기</a></h1>
    <br>
    <h1><a href="{% url 'home' %}">home으로 가기</a></h1>
</body>