<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">    
    <title>Word Count!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>


<body style="padding-left:20px">
    <h1>단어 수 세기</h1>

    <a href="{% url 'about' %}">ABOUT</a>

    <form action="{%url 'result'%}">
        <textarea cols="100" rows="20" name="fulltext"></textarea>
        <br>
        <input type="submit" value="세어보자!"\>
    </form>
</body>